---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=<auth-token>&limit=1&q=wagholi,maharashtra
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"Wagholi","lat":20.70430215,"lon":77.74280838036458,"country":"IN","state":"Maharashtra"}]'
  recorded_at: Wed, 05 Feb 2025 13:55:30 GMT
recorded_with: VCR 6.3.1
