---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution/history?appid=<auth-token>&end=1738281600&lat=17.902781&lon=74.081413&start=1735689600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":74.0814,"lat":17.9028},"list":[{"main":{"aqi":4},"components":{"co":600.81,"no":0,"no2":11.82,"o3":43.27,"so2":2.56,"pm2_5":65.87,"pm10":76.52,"nh3":14.19},"dt":1735689600},{"main":{"aqi":4},"components":{"co":627.52,"no":0,"no2":13.37,"o3":37.91,"so2":2.62,"pm2_5":67.7,"pm10":79.27,"nh3":13.93},"dt":1735693200},{"main":{"aqi":4},"components":{"co":660.9,"no":0.01,"no2":16.45,"o3":32.19,"so2":2.89,"pm2_5":69.4,"pm10":82.44,"nh3":13.05},"dt":1735696800},{"main":{"aqi":4},"components":{"co":674.25,"no":0.61,"no2":16.96,"o3":33.97,"so2":3.31,"pm2_5":71.06,"pm10":84.75,"nh3":11.91},"dt":1735700400},{"main":{"aqi":4},"components":{"co":654.22,"no":2.01,"no2"[...]
