---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=<auth-token>&lat=17.902781&lon=74.081413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":74.0814,"lat":17.9028},"list":[{"main":{"aqi":5},"components":{"co":660.9,"no":0,"no2":8.05,"o3":113.01,"so2":13.59,"pm2_5":138.31,"pm10":161.3,"nh3":20.01},"dt":1738525188}]}'
  recorded_at: Sun, 02 Feb 2025 19:39:49 GMT
recorded_with: VCR 6.3.1
